.rac-sticky-nav-bar{
  background-color: #303030;
}

.nav-items{
  padding-right: 40px;
}

.rac-large{
  font-size: 25px;
  color: white;
}

.container{
  padding-top:82px;
}

.rac-white{
  color: white;
}

.rac-vertical-align{
  padding-top: 10px;
}

.fas{
  color: #808080;
}
